version: '3.8'

services:
  web:
    build:
      context: ./html
      dockerfile_inline: |
        FROM php:8.2-apache
        RUN apt-get update && apt-get install -y libpng-dev libonig-dev libicu-dev libpq-dev libzip-dev
        RUN docker-php-ext-install pdo pdo_mysql pdo_pgsql gd mbstring intl zip opcache
        RUN a2enmod rewrite
    container_name: ${PROJECT_NAME:-php-web}
    restart: unless-stopped
    volumes:
      - ./html:/var/www/html
    networks:
      - dployr-network
    ports:
      - "${EXPOSED_PORT:-8002}:80"
    environment:
      - TZ=Europe/Berlin

networks:
  dployr-network:
    external: true
